@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header-top {
    display: flex;
    padding: 0 100px;
    height: 89px;
    background: #F9F9F9;
    border: 1px solid #329BF2;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    column-gap: 33px;
    justify-content: space-between;
}

.header_nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
}

.header_callback button {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 5px solid #3298F2;
    border-radius: 6px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3298F2;
    cursor: pointer;
}

.header-main {
    padding: 94px 102px 153px 244px;
    width: 650px;
}

.header_sub_title {
    font-weight: 900;
    font-size: 19px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 50px;
}

.header_text p:last-child {
    font-weight: bold;
}

.header_button button {
    width: 200px;
    heigh: 60px;
    box-sizing: border-box;
    border: 5px solid #3298F2;
    border-radius: 6px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3298F2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.header_button button::before {
    content: '';
    display: block;
    width: 50px;
    height: 100%;
    background-color: red;
    position: absolute;
    transform: skewX(-45deg);
    filter: blur(15px);
    left: -200px;
    animation: xxx 2000ms ease-in-out infinite;

}

@keyframes xxx {
    0%{
        left: -200px;
    }

    80%{
        background-color: #3d3d96;
    }
    100%{
        left: 150%;
    }

}