.container{
    border: 5px solid white;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.header {
    background: lime;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}

.footer {
    background: lime;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    height: 150px;
}

.post1 {
    background: deepskyblue;
    margin: 10px 0px 10px 0px;
    height: 190px;
    width: 65%;
    float: right;
}

.post2 {
    background: deepskyblue;
    margin: 10px 0px 10px 0px;
    height: 190px;
    width: 65%;
    float: right;
}

.menu {
    background: pink;
    box-sizing: border-box;
    margin: 10px 10px 5px 1px;
    width: 30%;
    height: 400px;
    float: left;
    display:block;
}

.menuBlock{
    background: white;
}

.clear{
    clear: both;
}
