@media screen and (max-width: 560px) {
    body {
        height: 3000px;
    }

    .header_text {
        color: red
    }

    .header_top {
        padding: 22px;
        position: relative;
    }

    .header_logo {
        width: 201px;
    }

    .header_logo img {
        width: 100%;
    }

    .header_nav {
        position: absolute;
        flex-direction: column;
        top: 100%;
        width: 100%;
        background-color: #3298f2;
        z-index: 1;
        align-items: center;
        padding-top: 50px;
        row-gap: 20px;
        height: 97vh;
        left: -100%;
        transition: 500ms;
    }

    .header_nav a {
        color: white;
        font-weight: 700;
        letter-spacing: 5px;
    }

    .header_callback, .header_content2, .play_wrap {
        display: none;
    }

    .button_mobile {
        display: flex;
    }

    .active.header_nav {
        left: 0;
    }

    .header_main {
        padding: 108px 22px 250px;
        background: #EDF4FB;
    }

    .group_title {
        display: flex;
        flex-direction: column-reverse;
    }

    .header_button button {
        background-color: #FFE200;
        margin: 0 auto;
        display: block;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video_play {
        width: 85px;
        height: 85px;
        background-color: #ff9638;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%
    }

    .video_play i {
        color: #ffffff
    }
}

@media (min-width: 701px) and (max-width: 950px) {
    .header_text {
        color: green
    }
}